$grey-2:                    #1a2933        !default;
$grey-3:                    #2d4559        !default;
$grey-base:                    #515E6D        !default;
$grey-5:                    #60707F        !default;
$grey-6:                    #768A99        !default;
$grey-7:                    #95a5b1        !default;
$grey-8:                    #a4b6c1        !default;
$grey-9:                    #DFE5EA        !default;
$grey-10:                   #F0F4F7        !default;
$grey-11:                   #EFF2F4        !default;
$light:                     #fff;

$orange:                    #ff8127        !default;
$orange-light:              #FFA260        !default;
$turquoise-light:           #00cdc0        !default;
$turquoise:                 #00AF9E        !default;
$mint-light:                #00cdc0        !default;
$mint-dark:                 #00c5ba        !default;
$mint:                      #00AF9E        !default;
$brand-primary:             $orange        !default;
$brand-success:             $turquoise     !default;
$brand-info:                #3DC3DA        !default;
$brand-warning:             $orange        !default;
$brand-danger:              #d9534f        !default;
$gold:                      #FFCC33        !default;
$color-facebook:            #3b5998        !default;
$color-twitter:             #55ACEE        !default;


$font-size: 16px;
$font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;